<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brendaperez.math4us">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPrincipal"/>
        <activity android:name=".Log_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity android:name="com.example.brendaperez.Categorias" />
        <activity android:name="com.example.brendaperez.NivelFraccion" />
        <activity android:name="com.example.brendaperez.SumasyRestas" />
        <activity android:name="com.example.brendaperez.NivelMultiplicacion" />
        <activity android:name="com.example.brendaperez.SelectNivelSumas" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma1" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma2" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma3" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma4" />
        <activity android:name="com.example.brendaperez.FraccionesyExtra" />
        <activity android:name="com.example.brendaperez.MultiplicacionyDivision" />
        <activity android:name="com.example.brendaperez.NivelDivision" />
        <activity android:name="com.example.brendaperez.SelectNivelResta" />
        <activity android:name="com.example.brendaperez.NivelExtra" />
        <activity android:name="com.example.brendaperez.restas.NivelResta" />
        <activity android:name="com.example.brendaperez.restas.NivelResta1" />
    </application>

</manifest>