<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brendaperez.math4us">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".Log_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity android:name="com.example.brendaperez.Categorias" />
        <activity android:name="com.example.brendaperez.NivelFraccion" />
        <activity android:name="com.example.brendaperez.SumasyRestas" />
        <activity android:name="com.example.brendaperez.NivelMultiplicacion" />
        <activity android:name="com.example.brendaperez.SelectNivelSumas" />
        <activity android:name="com.example.brendaperez.combinaciones.NivelCombi" />
        <activity android:name="com.example.brendaperez.combinaciones.NivelCombi_1" />
        <activity android:name="com.example.brendaperez.combinaciones.NivelCombi_2" />
        <activity android:name="com.example.brendaperez.combinaciones.NivelCombi_3" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma1" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma2" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma3" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma4" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma5" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma6" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma7" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma8" />
        <activity android:name="com.example.brendaperez.sumas.NivelSuma9" />
        <activity android:name="com.example.brendaperez.FraccionesyExtra" />
        <activity android:name="com.example.brendaperez.MultiplicacionyDivision" />
        <activity android:name="com.example.brendaperez.SelectNivelDivision" />
        <activity android:name="com.example.brendaperez.SelectNivelResta" />
        <activity android:name="com.example.brendaperez.SelectNivelExtra" />
        <activity android:name="com.example.brendaperez.restas.NivelResta" />
        <activity android:name="com.example.brendaperez.restas.NivelResta1" />
        <activity android:name="com.example.brendaperez.restas.NivelResta2" />
        <activity android:name="com.example.brendaperez.restas.NivelResta3" />
        <activity android:name="com.example.brendaperez.restas.NivelResta4" />
        <activity android:name="com.example.brendaperez.restas.NivelResta5" />
        <activity android:name="com.example.brendaperez.restas.NivelResta6" />
        <activity android:name="com.example.brendaperez.divisiones.NivelDivi" />
        <activity android:name="com.example.brendaperez.divisiones.NivelDiviFacil" />
        <activity android:name="com.example.brendaperez.divisiones.NivelDiviMedio" />
        <activity android:name="com.example.brendaperez.divisiones.NivelDiviDificil" />
        <activity android:name="com.example.brendaperez.restas.NivelResta7" />
        <activity android:name="com.example.brendaperez.restas.NivelResta8" />
        <activity android:name="com.example.brendaperez.restas.NivelResta9" />
        <activity android:name="com.example.brendaperez.multip.Tablauno" />
        <activity android:name="com.example.brendaperez.multip.Tablados" />
        <activity android:name="com.example.brendaperez.multip.Tablatres" />
        <activity android:name="com.example.brendaperez.multip.Tablacuatro" />
        <activity android:name="com.example.brendaperez.multip.Tablacinco" />
        <activity android:name="com.example.brendaperez.multip.Tablaseis" />
        <activity android:name="com.example.brendaperez.multip.Tablasiete" />
        <activity android:name="com.example.brendaperez.multip.Tablaocho" />
        <activity android:name="com.example.brendaperez.multip.Tablanueve" />
        <activity android:name="com.example.brendaperez.multip.NivelesTablas" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip1" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip2" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip3" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip4" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip5" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip6" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip7" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip8" />
        <activity android:name="com.example.brendaperez.multip.NivelMultip9" />
        <activity android:name=".Derechos" />
        <activity android:name=".Estadisticas"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>