<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brendaperez.math4us">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Log_in"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.Categorias"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.NivelFraccion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.SumasyRestas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.NivelMultiplicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.SelectNivelSumas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.combinaciones.NivelCombi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.combinaciones.NivelCombi_1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.combinaciones.NivelCombi_2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.combinaciones.NivelCombi_3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma5"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma6"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma7"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma8"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.sumas.NivelSuma9"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.FraccionesyExtra"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.MultiplicacionyDivision"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.SelectNivelDivision"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.SelectNivelResta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.SelectNivelExtra"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta5"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta6"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.divisiones.NivelDivi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.divisiones.NivelDiviFacil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.divisiones.NivelDiviMedio"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.divisiones.NivelDiviDificil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta7"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta8"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.restas.NivelResta9"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablauno"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablados"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablatres"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablacuatro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablacinco"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablaseis"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablasiete"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablaocho"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.Tablanueve"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelesTablas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip5"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip6"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip7"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip8"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brendaperez.multip.NivelMultip9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Derechos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Estadisticas"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>